<h3>Menu: <%= @object.code %></h3>

<p>
  La modification du menu se fait en temps réél.
</p>

<div id="app" class="disable-icheck">
</div>

<%= javascript_include_tag('rails_admin/react.min') %>
<%= javascript_include_tag('rails_admin/react-dom.min') %>
<%= javascript_include_tag('https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js') %>
<%= javascript_include_tag('rails_admin/jquery.nestable') %>
<%= javascript_include_tag('rails_admin/pubsub') %>
<%= javascript_include_tag('rails_admin/rails_admin_menu_builder') %>
<%= stylesheet_link_tag('rails_admin/rails_admin_menu_builder') %>

<%= javascript_include_tag('rails_admin/app', type: 'text/babel') %>
